@charset "UTF-8";
/* em HTML o atributo de identificação é representado por "id" e em CSS é #
em HTML o atributo de classificação é representado por "class" e em CSS é . (ponto)
*/
body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #1e402f;
}
#principal { /* identificador= id*/
    text-align: center;
    background-color: #3c805e;
    color: white;
}
h2 {
    color: #3c805e;
}
.basico { /*classificador= class*/
    color: #3c805e;
    font-weight: bold;
}
.intermediario {
    color: #80793c;
}
.avancado {
    color: #803c3c;
}